[package]
authors = ["Crypto Garage"]
description = "Creation, signing and verification of Discreet Log Contracts (DLC) transactions."
homepage = "https://github.com/p2pderivatives/rust-dlc"
license-file = "../LICENSE"
name = "dlc"
repository = "https://github.com/p2pderivatives/rust-dlc/tree/master/dlc"
version = "0.4.0"

[dependencies]
bitcoin = {version = "0.29.2" , features = ["serde"]}
secp256k1-sys = {version = "0.6.1" }
secp256k1-zkp = {version = "0.7.0", features = ["bitcoin_hashes", "rand-std"]}
serde = {version = "1.0", default-features = false, optional = true}

[features]
# for benchmarks
unstable = []
use-serde = ["serde", "secp256k1-zkp/use-serde"]

[dev-dependencies]
bitcoin = {version = "0.29.2"}
bitcoin-test-utils = {path = "../bitcoin-test-utils"}
bitcoincore-rpc = {version = "0.16.0" }
bitcoincore-rpc-json = {version = "0.16.0" }
rayon = "1.5"
secp256k1-zkp = {version = "0.7.0", features = ["bitcoin_hashes", "rand", "rand-std", "serde", "global-context"]}