[package]
authors = ["Crypto Garage"]
description = "Sled backend for persisting Discreet Log Contracts (DLC)."
edition = "2018"
homepage = "https://github.com/p2pderivatives/rust-dlc"
license-file = "../LICENSE"
name = "dlc-sled-storage-provider"
repository = "https://github.com/p2pderivatives/rust-dlc/tree/master/dlc-sled-storage-provider"
version = "0.1.0"

[features]
wallet = ["bitcoin", "secp256k1-zkp", "simple-wallet"]

[dependencies]
bitcoin = {version = "0.29", optional = true}
dlc = {path = "../dlc"}
dlc-manager = {path = "../dlc-manager"}
lightning = {version = "0.0.117"}
log = "0.4.14"
secp256k1-zkp = {version = "0.7", optional = true}
simple-wallet = {path = "../simple-wallet", optional = true}
sled = "0.34"

[dev-dependencies]
serde = "1.0"
serde_json = "1.0"
dlc-manager = {path = "../dlc-manager", features = ["use-serde"]}
