[package]
authors = ["Crypto Garage"]
description = "Structs and serialization for the Discreet Log Contract (DLC) protocol."
homepage = "https://github.com/p2pderivatives/rust-dlc"
license-file = "../LICENSE"
name = "dlc-messages"
repository = "https://github.com/p2pderivatives/rust-dlc/tree/master/dlc-messages"
version = "0.1.0"

[features]
use-serde = ["serde", "bitcoin/use-serde", "secp256k1-zkp/use-serde"]

[dependencies]
bitcoin = {version = "0.27"}
dlc = {version = "0.1.0", path = "../dlc"}
lightning = {version = "0.0.106"}
secp256k1-zkp = {version = "0.5.0", features = ["bitcoin_hashes", "rand", "rand-std"]}
serde = {version = "1.0", features = ["derive"], optional = true}

[dev-dependencies]
bitcoin = {version = "0.27", features = ["use-serde"]}
bitcoin-test-utils = {path = "../bitcoin-test-utils"}
dlc-messages = {path = "./", features = ["use-serde"]}
secp256k1-zkp = {version = "0.5.0", features = ["use-serde", "global-context"]}
serde = {version = "1.0", features = ["derive"]}
serde_json = "1.0"
